# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
packages/main/build

# misc
.DS_Store
.env
.env.prod
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#eslint
.eslintcache

#lerna
lerna-debug.log

# editor
.vscode
.editorconfig
*.sublime-project
*.sublime-workspace
.idea
*.iml
*.swp
*.swo

# config
packages/main/.env
packages/main/.env.local

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
