@import "./main.css";

:root {
  --color-california: #faa202;
  --color-platinum: #e2e3e9;
  --color-aluminium: #a3a7b3;
  --color-shark: #1d1f20;
  --color-palatinate-blue: #0b39df;
  --color-eerie-black: #171a1c;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-lightblue: #2850e0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-primary text-background hover:bg-primary-hover transition-colors;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@font-face {
  font-family: titling;
  font-weight: 400;
  src: url("../fonts/Titling/TitlingGothicFBNar-Reg.otf");
}

@font-face {
  font-family: titling;
  font-weight: 500;
  src: url("../fonts/Titling/TitlingGothicFBNar-Med.otf");
}
