* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #1d1f20;
}

.scroll-show {
  opacity: 1;
  transition-property: opacity;
  transition: 0.3s all ease-in-out;
}

.scroll-hide {
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

.four-liner {
  display: -webkit-box;
  /* max-width: 400px; */
  height: 109.2px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* custom Hover effect to make elements scale when user interacts with them */
.transcale{
  transition: transform 0.5s ease-in;
}
  
.transcale:hover {
    transform: scale(0.98);
  }
